/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #3578e5; /*#25c2a0;*/
  --ifm-color-primary-dark: #1d68e1; /*rgb(33, 175, 144);*/
  --ifm-color-primary-darker: #1b62d4; /*rgb(31, 165, 136);*/
  --ifm-color-primary-darkest: #1751af; /*rgb(26, 136, 112);*/
  --ifm-color-primary-light: #4e89e8; /*rgb(70, 203, 174);*/
  --ifm-color-primary-lighter: #5a91ea; /*rgb(102, 212, 189);*/
  --ifm-color-primary-lightest: #80aaef; /*rgb(146, 224, 208);*/
  --ifm-code-font-size: 90%; /*95%;*/
  --docusaurus-highlighted-code-line-bg: rgba(221, 14, 14, 0.747);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

a:hover {
  text-decoration: underline;
}


figure, video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  margin-top: 24px;
  width: 300px;
  text-align: center;
  font-weight: bold;
}
